.taskbar_main{
    position: fixed;
    bottom: 0;
    background-color: rgba(243, 223, 248, 0.40);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 48px;

    /* background: rgba( 255, 255, 255, 0.35 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}